html
{
	margin: 0;
	padding: 0;
}

body
{
	margin: 0;
	padding: 20px;
}

textarea {
	-moz-resize: none;
	-ms-resize: none;
	-o-resize: none;
	resize: none;
}

/* Shell */

#Menu
{
	
}

#Content 
{
	min-height: 400px;
}

#Footer 
{
	
}

/* Horizontal forms */

div.control-group div.controls p, div.control-group div.controls span
{
	padding-top: 5px;
}

/*  PermissionEditor */

.PermissionEditor input
{
	padding-top: 5px;
	margin-top: 0px;
	margin-right: 10px;
}

/* Metadata schema */

#SchemaXml 
{
	width: 800px;
	height: 300px;
}

/* Formats */

#FormatXml 
{
	width: 500px;
	height: 200px;
}

/* ClientSettings */

#ClientSettings #Settings 
{
	width: 800px;
	height: 300px;
}