<h2>Group</h2>
<button class="btn btn-success" data-bind="click: AddNewItem">Add new group</button>
<br/>
<br/>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs" data-bind="foreach: Items">
		<li data-bind="css: { active: $data == $parent.ActiveItem() }">
			<a href="#" data-bind="click: function () { $parent.SetActiveItem($data) }">
				<span data-bind="text: Name"></span>
			</a>
		</li>
	</ul>
	<div class="tab-content" data-bind="with: ActiveItem">
		<h3 data-bind="text: Name"></h3>
		<form class="form-horizontal" data-bind="submit: function () { $parent.SaveActiveItem($data) }">
			<div class="control-group">
				<label class="control-label">Guid:</label>
				<div class="controls" data-bind="text: Guid"></div>
			</div>
			<div class="control-group">
				<label class="control-label">Created:</label>
				<div class="controls" data-bind="text: DateCreated"></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Name">Name:</label>
				<div class="controls">
					<input type="text" id="Name" placeholder="Name" data-bind="value: Name"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="SystemPermission">System Permission:</label>
				<div class="controls">
					<input type="text" id="SystemPermission" placeholder="System Permission" data-bind="value: SystemPermission"/>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">Update</button>
					<button type="button" class="btn btn-danger" data-bind="click: function () { $parent.DeleteActiveItem($data) }">Delete</button>
				</div>
			</div>
		</form>
	</div>
</div>