<h2>Service Selection</h2>
<form class="form-horizontal" data-bind="submit: SetServicePath">
	<div class="control-group">
		<label class="control-label" for="ServicePath">Service Path:</label>
		<div class="controls">
			<input id="ServicePath" type="text" placeholder="https://api.domain.com/" title="Full service path including protocol" pattern="https?://.+\..+" data-bind="value: ServicePath, enable: CanEdit" class="input-xlarge" required/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type="submit" class="btn" value="Select Service" data-bind="enable: CanEdit"/>
		</div>
	</div>
</form>