<div id="Menu" class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Mimir</a>
	<ul class="nav" data-bind="foreach: Router.visibleRoutes">
		<li data-bind="css: { active: isActive }">
			<a data-bind="attr: { href: hash }, text: name"></a>
		</li>
	</ul>
  </div>
</div>
<div id="Content" data-bind="compose: { model: Router.activeItem, afterCompose: Router.afterCompose, transition: 'entrance' }"></div>
<div id="Footer">
	<hr/>
	<a href="http://chaos-community.org/" target="_blank" class="muted">CHAOS</a>
	| 
	<a href="mailto:jacob@geckon.com" target="_blank" class="muted">Feedback</a>
</div>