<h2>Users</h2>
<button class="btn btn-success" data-bind="click: AddNewItem">
	<i class="icon-plus-sign icon-white"></i> 
	Add new user
</button>
<br/>
<br/>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs" data-bind="foreach: Items">
		<li data-bind="css: { active: $data == $parent.ActiveItem() }">
			<a href="#" data-bind="click: SetAsActive">
				<span data-bind="text: Email"></span>
				<i class="icon-exclamation-sign" data-bind="visible: IsClientsideItem"></i>
			</a>
		</li>
	</ul>
	<div class="tab-content" data-bind="with: ActiveItem">
		<h3 data-bind="text: Email"></h3>
		<form class="form-horizontal" data-bind="submit: Save">
			<div class="control-group">
				<label class="control-label">Guid:</label>
				<div class="controls">
					<p data-bind="text: Guid"></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Email">Email:</label>
				<div class="controls">
					<input type="text" id="Email" placeholder="name@domain.com" data-bind="value: Email"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="SystemPermissions">System Permissions:</label>
				<div class="controls">
					<div data-bind="PermissionEditor: { Names: ['Create Group', 'Create Subscription', 'Manage', 'User Manager'], Value: SystemPermissions }"></div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary" data-bind="visible: !IsClientsideItem()">
						<i class="icon-ok-sign icon-white"></i>
						Update
					</button>
					<button type="submit" class="btn btn-success" data-bind="visible: IsClientsideItem">
						<i class="icon-plus-sign icon-white"></i>
						Create
					</button>
					<button type="button" class="btn btn-danger" data-bind="click: Delete">
						<i class="icon-remove-sign icon-white"></i>
						Delete
					</button>
				</div>
			</div>
		</form>
		<div>
			<div>
				Users Folder Id: <span data-bind="text: FolderId"></span>
			</div>
			<button data-bind="click: CreateUsersFolder" class="btn">Create Users Folder</button>
		</div>
	</div>
</div>